= wrap_layout :layout do
  %header.main-header.post-head{cover}
    = partial('shared/cover')

  %main.content{role: :main}
    %article.post
      %header.post-header
        %h1.post-title= current_page.data.header_title
      %section.post-content= yield
