---
pageable: true
per_page: 6
---

%header.main-header{cover}
  = partial('shared/cover')

%main#content.content{role: :main}
  = partial('shared/page_articles',
            locals: { page_articles: page_articles, paginate: paginate })
